<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="期刊管理系统.Properties.Settings.JournalManagementConnectionString"
            connectionString="Dsn=SQL JournalManagement;description=大作业要做好;trusted_connection=Yes;app=Microsoft® Visual Studio®;wsid=LAPTOP-1KUAS13K;database=JournalManagement;querylog_on=Yes;querylogfile=D:\Qt\Qt Projs\test00_期刊信息管理系统\DB_LOGS\QUERY.LOG;statslog_on=Yes;statslogfile=D:\Qt\Qt Projs\test00_期刊信息管理系统\DB_LOGS\STATS.LOG"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>